Server/.vs/Server/FileContentIndex/6f11a24b-4f14-4cde-9cf3-976666f38c5d.vsidx
Server/.vs/Server/FileContentIndex/10ca6312-083e-45ff-95a6-9a2c5b168407.vsidx
Server/.vs/Server/FileContentIndex/b309f8f6-3abc-4bc8-a392-585a3f38e9cc.vsidx
Server/.vs/Server/FileContentIndex/cc970998-5c42-4bf2-af42-a6c7a17ef627.vsidx
Server/.vs/Server/FileContentIndex/dbb6dc0a-9133-483f-99fb-cfaf95dd55f3.vsidx
Server/.vs/Server/DesignTimeBuild/.dtbcache.v2
Server/.vs/Server/FileContentIndex/46f0a439-cd28-499c-8023-5a6263d8cb3b.vsidx
Server/.vs/Server/FileContentIndex/539fdea5-2111-4300-bf9a-cf3ef39729ad.vsidx
Server/.vs/Server/FileContentIndex/f3d9d3d9-0e18-42b8-b7e0-86bc1994ad23.vsidx
Server/.vs/Server/v17/.suo
