h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

.change-card-form {
    display: flex;
    flex-direction: column;
}

.change-card-form-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
}

.change-card-labels-inputs-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.change-card-labels {
    display: flex;
    height: 47px;
    flex-direction: column;
    justify-content: center;
    gap: 89px;
    margin-right: 40px;
}

.change-card-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 59px;
}

.change-card-inputs > input,
.change-card-inputs > select {
    height: 47px;
    border-radius: 10px;
    border: 1px solid gray;
    padding-left: 10px;
    background: rgb(217, 217, 217);
}
.short {
    width: 250px;
}
#doctorSelect {
    width: 460px;
}
#TothInput {
    width: 200px;
}
input::placeholder {
    font-size: 15px;
    font-weight: 500;
    color: black;
}
.change-card-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.change-card-button {
    margin-top: 43px;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -1.5%;
    border-radius: 6px;
    border: none;
    background: rgb(7, 215, 230);
    color: black;
    padding: 14px 13px;
}
.change-card-button:active {
    color: rgb(7, 215, 230);
    background-color: black;
    border-radius: 6px;
    border: 1px solid rgb(7, 215, 230);
}
