main {
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  .Search {
    text-align: center;
    display: flex;
    margin: 0 auto;
    height: 37px;
    width: 250px;
    border: 1px solid black;
    border-radius: 12px;
    margin-bottom: 44px;
  }
  
  .ReportForm {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 441px;
    border-radius: 15px;
    background-color: rgb(217, 217, 217);
    padding: 27px;
  }
  
  .ReportButtons {
    max-width: 1147px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .ReportItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
  }
  
  .ReportItem input {
    width: 100px;
    height: 27px;
    padding-left: 8px;
    border-radius: 10px;
  }

  .ReportItem input[type="checkbox"] {

    transform: scale(0.8);
  }
  .ReportItem input[type = "datetime-local"]{
    width: 150px;
  }
  .check{
    width: 150px;
  }
  .ReportItem.longer input{
    width: 400px;
  }
  .ReportItem input[type="checkbox"]:checked {
    background-color: rgb(7, 215, 230);/* Зеленый цвет */
  }
  
  .ReportItem.payment input {
    width: 90px;
  }
  .ReportItem input[type="datetime-local"]{
    width: 140px;
  }
  .ReportButton {
    width: auto;
    border: none;
    margin-top: 47px;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -1.5%;
    border-radius: 6px;
    background: rgb(7, 215, 230);
    color: black;
    padding: 20px 25px;
  }
  
  .ReportContainer {
    max-width: 1147px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  
  .date {
    margin-top: 51px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .date input {
    width: 300px;
    height: 37px;
    border-radius: 10px;
    border: 1px solid gray; 
    padding-left: 10px;
    background: rgb(217, 217, 217);
  }
  
  .onedate {
    display: flex;
    align-items: center;
    gap: 35px;
  }
  
  .twodate {
    display: flex;
    justify-content: space-between;
    margin-top: 39px;
  }
  
  .firstdate, .seconddate {
    display: flex;  
    align-items: center;
    gap: 54px;
  }
  
  .diff {
    width: 300px;
  }
  
  /* Dark theme */
  .dark .ReportForm {
    background-color: gray;
  }