main{
    margin: 0 auto;
}
h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.Search{
    text-align: center;
    display: flex;
    height: 37px;
    width: 250px;
    border: 1px solid 808080;
    border-radius: 12px;
}
.searchblock input, .searchblock select{
    height: 37px;
    border-radius: 12px;
}
.searchblock select,.searchblock input{
    border: 1px solid gray;
}
.searchdate{
    width: 200px;
}
.Scheduleform{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 441px;
    padding: 27px 15px;
    background-color: rgb(217, 217, 217);
    border-radius: 15px;
    overflow-y: scroll;
}
.schedule-labels{
    display: flex;
    justify-content: space-between;
}
.PaymentSection{
    margin-top: 20px;
}
.PaymentSection input{
    width: 200px;
    margin-left: 20px;
}
.ScheduleButtons{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.ScheduleItems{
    display: flex;
    flex-direction: row;
}
.ScheduleItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.ScheduleItem input{
    height: 27px;
    padding-left: 8px;
    border-radius: 10px;
    background-color: white;
}
.ScheduleItem input[type="datetime-local"] {
    width: 150px;
    height: 27px;
}
.ScheduleItem input[type="checkbox"] {
    transform: scale(0.6);
    width: 150px;
    height: 27px;
}
.wrap{
    height: 27px;
    width: auto;
}
.ScheduleItem.longer{
    width: 40%;
}
.ScheduleButtons{
    margin-top: 47px;
}
.FormButtons{
    width: auto;
    border: none;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -1.5%;
    border-radius: 6px;
    background: rgb(7, 215, 230);
    color: black;
    padding: 20px 25px;
}
.FormButton a{
    padding: 20px 25px;
}
/* Dark theme */
.dark .Scheduleform{
    background-color: gray;
}
.dark .ScheduleItem input{
    background-color: rgb(217, 217, 217);
}

.dark .searchblock select{
    background-color: black;
    border: 1px solid white;
    color: white;
}
.searchblock {
    position: relative;
    display: flex;
}

.dark .searchblock input[type="datetime-local"] {
    background-color: black;
    border: 1px solid white;
    color: white;
    padding-right: 30px; 
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none; 
    position: relative; 
}

.dark .searchblock input[type="datetime-local"]::before {
    content: "\1F4C5"; 
    font-size: 18px;
    color: white;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
}
.light .searchblock input[type="datetime-local"] {
    background-color: white;
    border-color: black;
    color: black;
}

.light .searchblock::before {
    content: "\1F4C5";
    font-size: 18px;
    color: black;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
}