h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

.insert-doctor-form {
    display: flex;
}

.insert-doctor-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
}

.insert-doctor-labels-inputs-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.insert-doctor-labels {
    display: flex;
    height: 47px;
    flex-direction: column;
    justify-content: center;
    gap: 89px;
    margin-right: 40px;
}

.insert-doctor-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 59px;
}

.insert-doctor-inputs > input,
.insert-doctor-inputs > select {
    height: 47px;
    border-radius: 10px;
    border: 1px solid gray;
    padding-left: 10px;
    background: rgb(217, 217, 217);
}

input:not(.short) {
    width: 450px;
}

.insert-doctor-inputs input {
    width: 450px;
    height: 47px;
    border-radius: 10px;
    border: 1px solid black; /* Заменяем border-color на border */
    padding-left: 10px;
    background: rgb(217, 217, 217);
}

.insert-doctor-inputs input::placeholder {
    font-size: 15px;
    font-weight: 500;
    color: black;
}

.insert-doctor-button {
    width: 200px;
    margin-top: 43px;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -1.5%;
    border-radius: 6px;
    border: none;
    background: rgb(7, 215, 230);
    color: black;
    padding: 14px 13px;
}

.insert-doctor-button:active {
    color: rgb(7, 215, 230);
    background-color: black;
    border-radius: 5px;
    border: 2px solid rgb(7, 215, 230);
}
